<%= @player_1_name %> vs. <%= @player_2_name %>

<div><%= @player_1_name %> Hitpoints: <%= @player_1_hitpoints %></div>

<div><%= @player_2_name %> Hitpoints: <%= @player_2_hitpoints %></div>

<a href="/attack">Attack</a>
